#reset-button:focus{
    outline: none;
}

#double-d6-buttons {
    display: flex;
    flex-direction: column;
}

#d6, #d12, #d20, #double-d6 {
    display: flex;
    justify-content: space-around;
}

.roll {
    height: 100px;
    width: 100px;
}

.button-area {
  display: flex;
  justify-content: center;
}

#reset-button {
    
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 4px solid #E80000;
    background-color: red;
    font-weight: bold;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: #F1EDEE;
    margin: 15px;
    font-size: 4vh;
    font-family: 'Courier New', Courier, monospace;
}

#reset-button:hover{
    background-color: #C20114;
    
    box-shadow: 0px 15px 20px #D24654;
    color: #fff;
    transform: translateY(-7px);
}
